:root {
    --font-size: 14px;
    --font-color: #000000;
}

body {
    font-size: var(--font-size);
    color: var(--font-color);
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Set body background to white */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    position: relative; /* To position the back button relative to this */
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.login-form a {
    color: #fbbe28;
}

.login-form a:hover {
    text-decoration: underline;
}

.forgot-password {
    color: #007bff;
}

.forgot-password:hover {
    text-decoration: underline;
}

.form-label {
    text-align: left;
    margin-bottom: 0.5rem;
}

.custom-form-control {
    width: 100%;
    padding: 7px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-form-control:focus {
    outline: none;
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.back-button {
    position: absolute; /* Position it within the login-form */
    top: 15px;          /* Adjust as needed for better spacing */
    left: 15px;         /* Adjust as needed for better spacing */
    z-index: 10;        /* Ensure it's above other content */
    background-color: #fbbe28 !important; /* Set background color */
    border-radius: 50% !important; /* Make it circular */
    width: 40px;        /* Set width for the circle */
    height: 40px;       /* Set height for the circle */
    display: flex;      /* Center the icon */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
}

.back-button svg { /* Style the SVG icon */
    padding-top: 8px;
    font-size: 1.2em; /* Adjust size of the arrow */
    color: #000000 ;    /* Arrow color */
}

.back-button:hover { /* Hover effect for better interactivity */
    background-color: #f9a800; /* Darker shade on hover */
}